/* Touchscreen is 800x480 */

#main {
  box-sizing: border-box;
  width: 800px;
  height: 480px;
  background-color: rgb(43, 43, 43);
  padding: 3px;
  display: grid;
  grid-template-columns: 350px 350px 80px;
  grid-template-rows: 100px 360px;
  gap: 10px;
}

.text-small {
  font-size: 25px;
  color: whitesmoke;
}

.text-large {
  font-size: 50px;
  color: white;
  font-weight: bold;
}

#temperature-container {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid rgb(255, 166, 0);
}

#accel-speed-container {
  grid-column: 1;
  grid-row: 2;
  position: relative;
}

#speed-container {
  width: 320px;
  height: 320px;
  border: 2px solid rgb(255, 166, 0);
  border-radius: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#accel-container {
  width: 150px;
  height: 150px;
  border: 2px solid rgb(255, 166, 0);
  border-radius: 50%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#battery-container {
  grid-column: 2;
  grid-row: 1;
  border: 2px solid rgb(255, 166, 0);
}

#mileage-container {
  width: 90%;
  height: 90%;
  justify-self: center;
  align-self: center;
  grid-column: 2;
  grid-row: 2;
  border: 2px solid rgb(255, 166, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#buttons {
  grid-column: 3;
  grid-row: 1 / 2;
}

h2 {
  margin: 0;
  width: fit-content;
}

h3 {
  margin: 0 auto 0 auto;
}