<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car Dashboard</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css')}}" />

    <!-- style for putting divs in rows -->
    <style>
        /* menu on top right */
        .menubar {
            width: 100%;
            height: 10%;
        }
        .menu{
            float: right;
            cursor: pointer;
        }
        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: #fff;
            margin: 6px 0;
            transition: 0.4s;
        }

        /* Rotate first bar */
        .change .bar1 {
            transform: translate(0, 11px) rotate(-45deg);
        }

        /* Fade out the second bar */
        .change .bar2 {opacity: 0;}

        /* Rotate last bar */
        .change .bar3 {
            transform: translate(0, -11px) rotate(45deg);
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            right: 0;
            z-index: 1;
        }
        .show {display:block;}
        /* end menu on top right */

        .container .box {
            position: fixed;
            width: 800px;
            height: 480px;
            display: table;
            border: 2px solid white;
        }
        .dividers {
            position: fixed;
            width: 800px;
            height: 480px;
        }

        .container .box .box-row {
            display:table-row;
        }
        .container .box .box-cell-side {
            position: relative;
            border: 2px solid white;
            text-align: justify;
            display:table-cell;
            width: 25%;
            padding: 10px;
        }
        .container .box .box-cell-center {
            position: relative;
            border: 2px solid white;
            text-align: justify;
            display:table-cell;
            width: 50%;
            padding: 10px;
        }

        .line-left, .line-right {
            width: 200px;
            height: 4px;
            background-color: #fff;
            margin: 6px 0;
        }
        .line-left {
            position: absolute;
            left: 0;
            top: 80.8033%;
        }
        .line-right {
            position: absolute;
            left: 75%;
            top: 32.9166%;
        }

        .clickable {
            cursor: pointer;
        }

        /*
        .testing {
            position: fixed;
            left: 900px;
        }
        */
    </style>

    <!-- Necessary script for running jQuery. Which we use for AJAX -->
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>

    <!-- Necessary script for fetching sensor data from python server -->
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>

    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Racing+Sans+One&display=swap" rel="stylesheet">
</head>

<!-- html script start -->
<!-- test to center align -->
<body style = "background-color: #0B101F;">
<div class = "container">
    <!-- <img id="compare" src="Untitled.png" alt="battery picture" style="position: fixed; left: 850px;"> -->
    <!-- <div class="testing">
        <form>
            <label for="velocity" style="color:white;">Velocity:</label><br>
            <input type="text" id="velocity">
            <input type="submit" value="Submit" onclick="changeVelocity(); return false;"><br>

            <label for="temp" style="color:white;">Temperature:</label><br>
            <input type="text" id="temp">
            <input type="submit" value="Submit" onclick="changeTemp(); return false;"><br>

            <label for="battery_" style="color:white;">Battery:</label><br>
            <input type="text" id="battery_">
            <input type="submit" value="Submit" onclick="changeBattery(); return false;"><br>
        </form>
    </div> -->
    <div class="dividers">
        <div class = "line-left"></div>
        <div class = "line-right"></div>
    </div>
    <div class = "box">
        <div class = "box-row">
            <div class = "box-cell-side">
                <h1 id="temp-label" style="color:white; font-family: 'Poppins', sans-serif;
                    text-align:center; font-size: 18px;
                    width: 60%; height: 6.25%;
                    position: absolute; left: 20%; top: 4.167%;">Temperature</h1>
                <p id="temperature" class="clickable" onclick="toggleTempUnits()"
                    style="color:white; font-family: 'Racing Sans One', cursive;
                    text-align:center; font-size: 40px;
                    width: 75%; height: 10.417%;
                    position: absolute; left: 12.5%; top: 4.416%;">
                    <span id="temperature-number">20</span>
                    <span id="temperature-unit">°C</span>
                </p>
                <img id="thermometer-picture" src="{{url_for('static', filename='thermometer.png')}}"
                    alt="thermometer picture" style="width: 41.5%; height: 51.4583%;
                    position: absolute; left: 29%; top: 24.167%;">
                <!-- <img id="thermometer-pic" src="thermometer.png" alt="thermometer picture"
                     style="width: 41.5%; height: 51.4583%;
                     position: absolute; left: 29%; top: 24.167%;"> -->
                <p id="time" style="color:white; font-family: 'Racing Sans One', cursive;
                    text-align:center; font-size: 54px;
                    width: 75%; height: 13.542%;
                    position: absolute; left: 12.5%; top: 72.375%;">16:00</p>
            </div>
            <div class = "box-cell-center">
                <!-- <img id="speedometer-picture" src="{{url_for('static', filename='speedometer.png')}}"
                    alt="speedometer picture" style="scale: 50%; position: absolute; left: -39%; top: -26%;"> -->
                <!-- <img id="speedometer-pic" src="speedometer.png" alt="speedometer picture"
                     style="scale: 50%; position: absolute; left: -39%; top: -26%;"> -->
                <p id="velocity-text" class="clickable" onclick="toggleDistanceUnits()"
                    style="color:white; font-family: 'Racing Sans One', cursive;
                    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
                    width: 60%; height: 20.833%;
                    text-align:center; position: absolute; left: 20%; top: 24.791%;">
                    <span id="velocity-number" style="font-size: 96px">62</span>
                    <span id="velocity-unit" style="font-size: 20px">kmh</span>
                </p>
                <p id="acceleration-text" class="clickable" onclick="toggleDistanceUnits()"
                    style="color:white; font-family: 'Racing Sans One', cursive;
                    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
                    width: 60%; height: 15%;
                    text-align:center; position: absolute; left: 20%; top: 45.833%;">
                    <span id="acceleration-number" style="font-size: 50px">1.2</span>
                    <span id="acceleration-unit" style="font-size: 20px">m/s<sup>2</sup></span>
                </p>
                <p id="mileage-text" class="clickable" onclick="toggleDistanceUnits()"
                    style="color:white; text-align:center;
                    width: 50%; height: 12.5%;
                    position: absolute; left: 6.25%; top: 81%">
                    <span id="mileage-number" style="font-family: 'Racing Sans One', cursive; font-size: 40px;">20.50</span>
                    <span id="mileage-unit" style="font-family: 'Poppins', sans-serif; font-size: 20px">km</span>
                </p>
                <p id="laps-text" style="color:white; text-align:center;
                    width: 25%; height: 12.5%;
                    position: absolute; left: 62.5%; top: 81%;">
                    <span id="laps-number" style="font-family: 'Racing Sans One', cursive; font-size: 40px;">6</span>
                    <span id="laps-unit" style="font-family: 'Poppins', sans-serif; font-size: 20px">laps</span>
                </p>
            </div>
            <div class = "box-cell-side">
                <div class="menubar">
                    <div class="menu" onclick="toggleMenu(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                        <a href="/restart" style= "text-align: center;">
                            <div id = "dropdown" class="dropdown-content">
                              <p style="color: black; font-family: 'Poppins', cursive; text-align: center; font-size: 17px; float:center"><img src="{{url_for('static', filename='Restart Button.png')}}" style="width:100px; height:100px"></p>
                            </div>
                        </a>
                    </div>
                </div>
                <p id="efficiency" style="color:white; font-family: 'Racing Sans One', cursive;
                    text-align:center; font-size: 45px;
                    width: 45%; height: 10%;
                    position: absolute; left: 29%; top: 0.416%">73%</p>
                <h1 id="efficiency-text" style="color:white; font-family: 'Poppins', sans-serif;
                    text-align:center; font-size: 18px;
                    width: 45%; height: 5%;
                    position: absolute; left: 28.75%; top: 22.567%">Efficiency</h1>
                <img id="battery-picture" src="{{url_for('static', filename='battery_100.png')}}" alt="battery picture"
                     style="width: 100%; height: 25%; rotate: 180deg;
                     position: absolute; left: 0; top: 48%;">
                <!-- <img id="battery-pic" src="battery_100.png" alt="battery picture"
                     style="width: 100%; height: 25%; rotate: 270deg;
                     position: absolute; left: 0; top: 48%;"> -->
                <p id="battery" style="color:white; font-family: 'Racing Sans One', cursive;
                    text-align:center; font-size: 60px;
                    width: 90%; height: 14.583%;
                    position: absolute; left: 5%; top: 70%;">100%</p>
            </div>
        </div>
    </div>
</div>

<script>
    function convertMetersToFeet(meters) {
        return meters * 3.28084;
    }
    function convertFeetToMeters(feet) {
        return feet / 3.28084;
    }
    function convertMilesToKm(miles) {
        return miles * 1.60934;
    }
    function convertKmToMiles(km) {
        return km / 1.60934;
    }
    function convertCelsiusToFahrenheit(celsius) {
        return (celsius * 9 / 5.0) + 32;
    }
    function convertFahrenheitToCelsius(fahrenheit) {
        return (fahrenheit - 32) * 5 / 9.0;
    }

    // For top right toggle menu
    function toggleMenu(x) {
        x.classList.toggle("change");
        document.getElementById("dropdown").classList.toggle("show");
    }

    // toggle distance units between imperial and metric
    let metricDistance = true;
    function toggleDistanceUnits() {
        if (metricDistance) { // switch to imperial units
            document.getElementById("velocity-unit").innerHTML = "mph";
            document.getElementById("acceleration-unit").innerHTML = "ft/s<sup>2</sup>";
            document.getElementById("mileage-unit").innerHTML = "mi"

            let velocity = convertKmToMiles(document.getElementById("velocity-number").innerHTML);
            let acceleration = convertMetersToFeet(document.getElementById("acceleration-number").innerHTML);
            let mileage = convertKmToMiles(document.getElementById("mileage-number").innerHTML);

            document.getElementById("velocity-number").innerHTML = Math.round(velocity) + "";
            document.getElementById("acceleration-number").innerHTML = acceleration.toFixed(2);
            document.getElementById("mileage-number").innerHTML = mileage.toFixed(2);
        } else {              // switch to metric units
            document.getElementById("velocity-unit").innerHTML = "kmh";
            document.getElementById("acceleration-unit").innerHTML = "m/s<sup>2</sup>";
            document.getElementById("mileage-unit").innerHTML = "km"

            let velocity = convertMilesToKm(document.getElementById("velocity-number").innerHTML);
            let acceleration = convertFeetToMeters(document.getElementById("acceleration-number").innerHTML);
            let mileage = convertMilesToKm(document.getElementById("mileage-number").innerHTML);

            document.getElementById("velocity-number").innerHTML = Math.round(velocity) + "";
            document.getElementById("acceleration-number").innerHTML = acceleration.toFixed(2);
            document.getElementById("mileage-number").innerHTML = mileage.toFixed(2);
        }
        metricDistance = !metricDistance;
    }

    // toggle temperature units between imperial and metric
    let metricTemp = true;
    function toggleTempUnits() {
        if (metricTemp) {   // switch to imperial
            document.getElementById("temperature-unit").innerHTML = "°F";
            let temp = convertCelsiusToFahrenheit(document.getElementById("temperature-number").innerHTML);
            document.getElementById("temperature-number").innerHTML = Math.round(temp) + "";
        } else {            // switch to metric
            document.getElementById("temperature-unit").innerHTML = "°C";
            let temp = convertFahrenheitToCelsius(document.getElementById("temperature-number").innerHTML);
            document.getElementById("temperature-number").innerHTML = Math.round(temp) + "";
        }
        metricTemp = !metricTemp;
    }

    // testing
    let volt = 100;
    setInterval(function() {
        volt = document.getElementById("battery").innerHTML;
        volt = parseFloat(volt.substring(0, volt.length - 1));
        if (volt <= 20) {
            //document.getElementById("battery-pic").src = "battery_20.png";
            document.getElementById("battery-picture").src = "{{url_for('static', filename='battery_20.png')}}";
        } else if (volt <= 40) {
            //document.getElementById("battery-pic").src = "battery_40.png";
            document.getElementById("battery-picture").src = "{{url_for('static', filename='battery_40.png')}}";
        } else if (volt <= 60) {
            //document.getElementById("battery-pic").src = "battery_60.png";
            document.getElementById("battery-picture").src = "{{url_for('static', filename='battery_60.png')}}";
        } else if (volt <= 80) {
            //document.getElementById("battery-pic").src = "battery_80.png";
            document.getElementById("battery-picture").src = "{{url_for('static', filename='battery_80.png')}}";
        } else {
            //document.getElementById("battery-pic").src = "battery_100.png";
            document.getElementById("battery-picture").src = "{{url_for('static', filename='battery_100.png')}}";
        }
    }, 1000);


    // set time
    setInterval(function() {
        const date = new Date();
        let hour = date.getHours();
        let minute = date.getMinutes();
        if (hour < 10) hour = "0" + hour;
        if (minute < 10) minute = "0" + minute;
        document.getElementById("time").innerHTML = hour + ":" + minute;
    }, 1000);


    /* testing
    function changeVelocity() {
        let velocityRounded = parseFloat(document.getElementById("velocity").value);
        document.getElementById("velocity-number").innerHTML = Math.round(velocityRounded) + "";
    }
    function changeTemp() {
        let tempRounded = parseFloat(document.getElementById("temp").value);
        document.getElementById("temperature-number").innerHTML = Math.round(tempRounded) + "";
    }
    function changeBattery() {
        let batteryRounded = parseFloat(document.getElementById("battery_").value);
        document.getElementById("battery").innerHTML = Math.round(batteryRounded) + "%";
    }
     */
</script>
</body>

</html>


<!-- manual center -->
<!-- <div style="float: left; margin:0px;margin-left: 25%">
        <p style="color:white; font-family: 'Racing Sans One', cursive; font-size: 50px;">2.54</p>
      </div>
      <div style="float: left; margin:0px; margin-top: 67px; margin-left:3px;">
        <p style="color:white; font-family: 'Poppins', sans-serif; font-size: 15px;">mph</p>
      </div>

    /*
    let x = 4;
    const event_battery = new Event("start_battery");

    document.addEventListener('start_battery', changePicBattery);

    function changePicBattery(){
      let num = Math.floor(volt/20) * 20 + 20;
      if (num>100) num = 100;
      if (num<20) num = 20;

      document.getElementById("battery_picture").src = "{{url_for('static', filename='battery_" + num.toString() + ".png')}}";
    }

    let volt = parseFloat(document.getElementById("voltage").value);
    document.dispatchEvent(event_battery);
    */
-->