/* Touchscreen is 800x480 */

.mydiv {
    width: 32.5%;
    height:150px;
    background-color:#0B101F ;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    float:left;
}

.mydiv2{
    width: 49%;
    height:188px;
    background-color:#0B101F ;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    float:left; 
}

.mydiv3{
    width: 98.5%;
    height:141px;
    background-color:#0B101F ;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    float:left; 
}