/* Touchscreen is 800x480 */

.center {
    padding: 70px 0;
}

.box {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    background-color: #0B101F;
}
/* Attempt to make row */
.row:after {
    content: "";
    clear: both;
    display: table;
}

.left {
    float: left;
    width: 100px;
}

.center {
    margin: 0 auto;
    width: 100px;
}

.right {
    float: right;
    width: 100px;
}
/* End of attempt */

.item {
    width: 10rem;
    background-color:#0B101F ;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    text-align: center;
}

.one {
    width: 32%;
    height:150px;
}
.two{
    width: 48%;
    /*flex-direction: row;*/
    height:188px;
    background-color:#0B101F ;
    border-style: solid;
    border-color: white;
    border-width: 1px; 
}
.three{
    width: 100%;
    height:141px;
    background-color:#0B101F ;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}